{% comment %}<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"/></svg>{% endcomment%}
<span class="search_icon">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="804.000000pt" height="804.000000pt" viewBox="0 0 804.000000 804.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,804.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M3350 8023 c-1537 -112 -2855 -1218 -3228 -2709 -72 -285 -100 -493
-109 -794 -26 -893 273 -1739 859 -2435 101 -120 349 -362 474 -463 566 -454
1216 -718 1944 -788 200 -20 581 -14 768 10 652 86 1234 324 1751 719 l104 79
796 -795 c892 -890 834 -840 981 -840 89 0 144 18 214 72 67 50 114 130 129
216 10 56 9 76 -6 133 -10 37 -33 90 -52 117 -19 28 -381 396 -804 819 l-769
769 56 71 c118 146 283 409 381 606 152 305 248 579 310 888 56 275 66 387 66
727 0 340 -10 452 -66 727 -148 733 -561 1456 -1109 1943 -607 539 -1300 845
-2089 920 -137 13 -470 18 -601 8z m635 -708 c337 -45 611 -128 920 -280 1073
-528 1714 -1661 1614 -2852 -43 -514 -226 -1018 -522 -1437 -450 -637 -1141
-1070 -1908 -1196 -908 -149 -1834 141 -2493 780 -504 489 -791 1074 -877
1785 -18 146 -15 503 5 658 87 678 377 1264 857 1732 201 196 364 320 596 452
365 209 767 333 1209 373 136 12 454 4 599 -15z"/>
</g>
</svg>
</span>