{% schema %}
{
  "name": "Main page",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Main page"
    }
  ]
}
{% endschema %}

<div id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
  <header class="section-header">
  <h1 class="section-header__title">{{ page.title }}</h1>
</header>
  {{ content_for_layout }}
</div>