<div id="newyork"></div>

{% schema %}
  {
    "name": "NewYork",
    "class": "newyork",
    "max_blocks": 1,
    "settings": [],
    "blocks": [
      {}
    ],
    "presets": [
      {
        "name": "New York",
        "category": "home"
      }
    ]
  }
{% endschema %}