<div id="servicesaccordion">


  <div
    class="june_services  lazy-bg"
    data-aos="fade-up"
    data-aos-delay="50">

    <services-accordion background="{{ 'service_background.png' | asset_url }}">

      <template #header>
        <header class="section-header text-center mb-20 max-w-3xl m-auto px-8">
          <h5>Bespoke Medical & Asthetic Solutions</h5>
          <h2 class="mb-8">{{ section.settings.title }}</h2>
          <p class="text-lg leading-relaxed">{{ section.settings.summary }}</p>
        </header>
      </template>


    </services-accordion>

    <div class="max-w-2xl m-auto mt-20 px-6">

      <p class="text-center">
        <a href="/pages/services" class="text-base font-medium block justify-center px-4 py-4 border border-neutral-200 hover:bg-zinc-50 transition">
          <span>View all of our Services
          </span>
        </a>
      </p>

    </div>

  </div>


</div>


{% schema %}
  {
    "name": "Services Accordion",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }, {
        "type": "html",
        "id": "summary",
        "label": "Summary"
      }
    ],
    "presets": [
      {
        "name": "Services Accordion"
      }
    ]
  }
{%endschema%}