<div id="servicesaccordion"></div>


{% schema %}
  {
    "name": "Services Accordion",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }, {
        "type": "html",
        "id": "summary",
        "label": "Summary"
      }
    ],
    "presets": [
      {
        "name": "Services Accordion"
      }
    ]
  }
{%endschema%}