<div class="image_with_text1" id="testimonials">
  <div class="page-width">
    <div class="flex flex-col md:flex-row w-full">

      <div class="left_image ">
        <testimonial-slider></testimonial-slider>
      </div>
      <div class=" right_content ">
        <h3>Building Trust for over 10 Years</h3>
        <p>Our number one goal is to create happiness for our patients. Every patient has unique needs, and that's why we create a bespoke plan designed just for you. We are proud of the testimonials our patients have provided to us and are proud to help them on their individual skin journey. We would love to do the same for you.
        </p>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Testimonials Block",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }, {
        "type": "html",
        "id": "summary",
        "label": "Summary"
      }
    ],
    "presets": [
      {
        "name": "Testimonials Block"
      }
    ]
  }
{% endschema %}