.c-button.c-button--black {
	background: #000;
  	border: 0;
    padding: 10px 20px;
    font-family: 'Gotham-Bold';
    font-weight: 900;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF!important;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.15em;
  	outline: none;
  	position: relative;
  	z-index: 3;
}