<div
  class="page-width">
  <div
    id="shopify-section-blog-template"
    class=" shopify-section">
    <header
      class="page-title">
      <h1
        class="">{{ page.title }}</h1>
    </header>

    {% section 'press-listing' %}
  </div>

</div>