<div class="section-header-wrapper">
  <div class="section-header text-center">
    <h1>{{ page.title }}</h1>
  </div>
</div>
{% comment %}
  <div class="community-banner">
  {% section 'hero' %}
  </div>
{% endcomment %}<div class="page-width">
  <div class="grid">
    <div class="grid__item">
      {% section 'rich-text' %}
      {% section 'community-seek' %}
      {% comment %}{% section 'logo-bar' %}{% endcomment %}
    </div>
  </div>
</div>
{% comment %}
  <script>
  //   $(window).load(function(){
  var window_width = $(window).width();   
  if (window_width < 480){
  $('.logo-bar').slick({
  infinite: true,
  slidesToShow: 4,
  slidesToScroll: 1,
  dots:true,
  arrows:true,
  centerPadding: '60px',
  prevArrow: '<i class="fas fa-arrow-left"></i>',
  nextArrow: '<i class="fas fa-arrow-right"></i>',
  responsive: [
  {
  breakpoint: 1024,
  settings: {
  slidesToShow: 3,
  slidesToScroll: 1            
  }
  },
  {
  breakpoint: 767,
  settings: {
  slidesToShow: 2,
  slidesToScroll: 1
  }
  },
  {
  breakpoint: 480,
  settings: {
  slidesToShow: 2,
  //             slidesToScroll: 1,
  dots:true,
  arrows:true
  //             centerMode: true,
  //             centerPadding: '40px'
  }
  }
  ]
  });
  }


  </script>
{% endcomment %}